.input {
  &--container {
    color: white;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
  }

  &--title {
    text-align: center;
    font-weight: 800;
    color: black;
    font-size: 28px;
    border-bottom: 1px solid black;
    text-shadow: 8px 8px 8px white, 0.1rem 0.1rem white;

    @media (min-width: 600px) {
      font-size: 34px;
    }
  }

  &--subtitle{
    text-shadow: 8px 8px 8px black, 0.1rem 0.1rem black;
  }

  &--child {
    height: 25px;
    padding-left: 8px;
    border-radius: 5px;
    border: 0.5px solid gray;
  }
}
