.button {
  width: 200px;
  height: 40px;
  padding-top: 2px;
  padding-left: 10px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  background-color: #b234b1;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  cursor: pointer;
  border: none;
}
