body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #aca8a8;
}

:root {
  --main: #b234b1;
  --background: #1c1c1c;
  width: 100%;
}
